@font-face {
    font-family: 'Go Mono', monospace;
    src: url('Go-Mono.ttf') format('truetype');
}

@font-face {
    font-family: 'Go Mono', monospace;
    src: url('Go-Mono-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Go Mono', monospace;
    src: url('Go-Mono-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Go Mono', monospace;
    src: url('Go-Mono-Bold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
